@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{ margin: 0; padding: 0; box-sizing: border-box;}
a { text-decoration: none; color: inherit;}
li { list-style: none;}
img {max-width: 100%;}
body{
  font-family: "Noto Sans KR", sans-serif;
  -webkit-animation: fadein 2000ms ease-out;
}
#wrap {width: 100%;}

header { padding: 0px 100px 0 100px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 995;
}
header:hover {
  /* margin-bottom:-0.5px; */
  /* border-bottom: 1px solid gray; */
}
.headerhelper {
  display: none;
  width: 100%;
  height: 350px;
  position: absolute;
  top: 100%; left: 0;
  background: #fff;
  z-index: 10;
}
header .logo{}
header .logo img{
  display: block;
  margin-top: 10px;}

.eee {
  display: flex;
}
nav {
  margin: 0 30px 0 0;
}
nav>ul {display: flex;}
nav>ul>li {
  width: 120px;
  /* text-align: center; */
  position: relative;
}
nav>ul>li>a {
  display: inline-block;
  margin: 30px 0px;
  white-space: nowrap;
  font-weight: 500;
}
nav>ul>li>a.active {
  font-weight: 800; color: rgb(29, 29, 193);
}

nav>ul>li>ul {
  position: absolute; top: 100%; left: 0;
  white-space: nowrap;
  z-index: 998;
  display: none;
}

nav>ul>li>ul>li {}

nav>ul>li>ul>li>a {
  padding: 8px 0;
  display: block;
  font-weight: 500;
}

nav>ul>li>ul>li>a.active {text-decoration: underline;}


select {
  margin: 30px 10px;
  width: 100px;
  /* height: 30px; */
  white-space: nowrap;
}

.mall {
  display: block;
  font-size: 12px;
  margin: 30px 10px;
  white-space: nowrap;
}
.mall a{ display: block;}
.mall img{
  vertical-align: center;
  /* display: inline; */
  /* width: 20px; */
  /* height: 20px; */
  /* transform: rotate(-45deg); */
}

main {position: relative; z-index: 1;}
main .slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 800px;}
.slider>ul>{
  /* z-index: 1; */
  width: 100%;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider>ul>li {
  width: 100%; height: 800px; overflow: hidden;
}
.slider ul li.s1{ transform: all 0.6s ease-in-out ;background: url(../img/slide01.jpg) no-repeat bottom/cover}
.slider ul li.s2{ transform: all 0.6s ease-in-out ;background: url(../img/slide02.png) no-repeat bottom/cover}
.slider ul li.s3{ transform: all 0.6s ease-in-out ;background: url(../img/slide03.jpg) no-repeat bottom/cover}
.slider ul li.s4{ transform: all 0.6s ease-in-out ;background: url(../img/slide04.png) no-repeat bottom/cover}

.slider .slidebar {
  position: absolute;
  top: 65%;
  left: 10%;
}
.slidebar>p{
  display: inline;
  font-size: 20px;
}
.slidebar>p:nth-child(2){
  font-size: 14px;
  color: gray;
}

.slidebar .slidebar-nav{
  margin-left: 180px;
  display: inline-block;
  /* gap: 60px; */
}
.slidebar-nav a { display: inline-block;font-size: 24px; font-weight: 700; margin-right: 10px;}
.slidebar-nav .stop{ margin-right: 0;}
.slidebar-nav .play{ margin-right: 0;}
.slidebar-nav .playstop{
  display: inline-block;
  margin-left: 5px;
}
.slidebar-nav .playstop img{ display: inline-block;
  width: 10px; height: 15px;
}
.slidebar-nav .playstop>a { display: none;}
.slidebar-nav .playstop> .active {display: block;}

.slidebar .barev {
  margin-top: 10px; width: 100%; height: 2px;
  position: relative;
}
.barev .bar {
  width: 0%; height: 100%;
  position: absolute; top: 0; left: 0; background: #333;
  transform: all 3.0s ease-in-out;
}
.barev .barbg { display: block ; width: 100%; height: 2px; background: #d7d7d7b9;;}

